.enterprise-banner {
  .banner-content{
    justify-content: space-between;
  }
  .skills-quiz-btn{
    margin: 1%;
    height: max-content;
  }
}

.border-brand-tertiary {
  border-bottom-width: 7px;
  border-bottom-style: solid;
}
