.enterprise-banner {
  h1 {
    border-left-width: 15px;
    border-left-style: solid;
  }
  .banner-content{
    justify-content: space-between;
  }
  .skills-quiz-btn{
    margin: 1%;
    height: max-content;
  }
}
