.card {
    .big-number {
        font-size: 8em;
        text-align: center;
        line-height: 1;
    }

    &.catalog-access-card {
        border-top-width: 4px;
        > .card-body {
            > .card-title {
                @extend .h4 !optional;
            }
        }
    }
}


