.my-career-column {
    margin-left: 0.75rem;
}

.action-row {
    margin-top: 2rem;
}

.plotly-graph {
    width: inherit;
}

.skills-category-card-section {
    margin-top: 3rem;
  }

.skills-category-card {
    margin-bottom: 2rem;
}

.category-name-section {
    margin-top: -1rem;
}

.skill-details-section {
    margin-top: -2.5rem;
}

.skill-details-section-button {
    margin-top: -2.0rem;
}

.category-skill-chips-section {
    margin-bottom: 1rem;
}
