{
  "extends": "@edx/eslint-config",
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "babel.config.js",
          "config/*.js",
          "**/*.test.jsx",
          "**/*.test.js",
          "src/utils/tests.jsx"
        ]
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ],
    "jsx-a11y/label-has-for": [
      "error",
      {
        "required": {
          "every": ["nesting", "id"]
        },
        "allowChildren": true
      }
    ],
    // Temporarily update the "indent" and "template-curly-spacing" rules
    // since they are causing eslint to fail for no apparent reason since
    // upgrading @edx/frontend-build from v3 to v5:
    //  - TypeError: Cannot read property 'range' of null
    "indent": [
      "error",
      2,
      { "ignoredNodes": ["TemplateLiteral", "SwitchCase"] }
    ],
    "template-curly-spacing": "off"
  },
  "overrides": [
    {
      "files": ["**/index.js", "**/service.js", "**/hooks.js", "**/hooks.jsx"],
      "rules": {
        "import/prefer-default-export": "off"
      }
    }
  ],
  "env": {
    "jest": true
  },
  "globals": {
    "newrelic": false
  }
}
