.course-header {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.15);

  .enroll-wrapper {
    .btn {
      &:focus:before {
        @extend .rounded-0;
      }
      .enroll-btn-label {
        font-size: 1.125rem;
      }
    }
  }
}

body.dark-mode {
  background: black;
  filter: invert(1) hue-rotate(180deg);

  // Keep images their normal color by flipping them back
  img {
    filter: invert(1) hue-rotate(180deg);
  }
}