@import "~@edx/paragon/scss/edx/theme.scss";

.modal {
  .modal-title {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .save-email-settings-btn {
    &:not(.is-form-changed):disabled {
      @extend .btn-light;
    }
  }

  .modal-header {
    .js-close-modal-on-click {
      &:focus, &:active {
        outline: 5px auto -webkit-focus-ring-color;
      }
    }
  }

  .modal-footer {
    .js-close-modal-on-click {
      @extend .btn-link;
      @extend .border-0;
      background: $white;

      &::before {
        @extend .d-none;
      }

      &.btn-secondary:active {
        @extend .btn-link;
        background: $white;
      }
    }
  }
}
