.error-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error-page-title {
  color: $danger;
  margin-bottom: map_get($spacers, 5);
}

.error-page-subtitle {
  margin-bottom: map_get($spacers, 4);
}
