.dashboard-course-card {
  @extend .position-relative;

  &:first-child {
    @extend .pt-3;
  }

  &:last-child {
    @extend .border-0;
    @extend .mb-0;
  }

  .notifications {
    li:last-child {
      .notification {
        @extend .mb-0;
      }
    }

    .notification {
      background: $info-100;
    }
  }

  @include media-breakpoint-down(xs) {
    .btn-xs-block {
      width: 100%;
    }
  }

  .course-misc-text {
    small {
      display: block;
    }
  }
}
