.search-pathway-card{
  a {
    color: $gray-700;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $gray-700;
      text-decoration: none;
    }
  }

  .pgn__card-section {
    background-color: $primary;
  }

  .pgn__card-header {
    background-color: $primary;
    .pgn__card-header-title {
      color: white;
    }
  }
}
