.program-header {
  margin-bottom: 0;
  background: none;
  padding-bottom: 12px;

  @include media-breakpoint-up(lg) {
    padding: {
      top: 30px;
      bottom: 22px;
    }

    .program-header-container {
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .header-breadcrumbs {
      font-size: .75rem;
    }
    .link-muted {
      color: #00262b;
      font-size: .875rem;
      font-weight: 400;
      line-height: 1.5rem;
    }
    .list-inline-item:not(:last-child) {
      margin-right: 0.2rem;
    }

  }
}
