.academy-card {

  .academy-card-image {
    max-width: 50%;
    position: absolute;
    bottom: 1em;
    right: 1em;
 }
}
.academy-tag {
  padding: 6px;
  margin-right: 7px;
  margin-top: 8px;
  font-size: .875rem;
  font-weight: normal;
}
.tag-clear-button {
  padding: 0px;
  text-decoration: underline !important;
}

.pathway-section {
  background: {
    image: url('../../../assets/images/academies/academies-pathways-section.png');
  }

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin-left: 0px;
  margin-right: 0px;

  .inner-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .eyebrow {
    font-size: 22px;
    color: white;
    font-family: 'Roboto Mono';
    line-height: 36px;
    margin: 0px;
  }

  .pathway-title {
    color: white;
    margin-bottom: 2rem;

    opacity: 0px;
    font-family: Inter;
    font-size: 60px;
    font-weight: 900;
    text-align: left;
    display: flex;
    line-height: 1;
  }

  .pathway-description {
    color: white;
  }

  .launch-btn {
    font-size: 32px;
    font-weight: bold;
    color: #002B2B;
    background-color: #82E0C1;
    font-family: Inter;
    border: none;
    width: Hug (298px);
    height: Fixed (77px);
    padding: 10px 16px 10px 16px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #55cca4;
    }
  }
}
