.academy-card {

  .academy-card-image {
    max-width: 50%;
    position: absolute;
    bottom: 1em;
    right: 1em;
 }
}
.academy-tag {
  padding: 6px;
  margin-right: 7px;
  margin-top: 8px;
  font-size: .875rem;
  font-weight: normal;
}
