@import "@edx/paragon/scss/core/core";
@import "@edx/brand/paragon/variables";

// the :export directive is the magic sauce for webpack such that the following variables
// are accessible via importing in JS, e.g. ``import colors from './colors.scss';``
:export {
  dark: $gray-700;
  white: $white;
  primary: $primary;
  info100: $info-100;
  info500: $info-500;
}
