/* purgecss start ignore */
@import "@edx/paragon/scss/core/core";
@import "@edx/brand/paragon/variables";

:root {
  --pgn-color-dark: #{$gray-700};
  --pgn-color-white:  #{$white};
  --pgn-color-primary: #{$primary};
  --pgn-info-100:  #{$info-100};
  --pgn-info-500:  #{$info-500};
}
/* purgecss end ignore */
