@import "@edx/brand/paragon/fonts";
@import "@edx/brand/paragon/variables";
@import "@edx/paragon/scss/core/core";
// frontend-enterprise-* imports must come before the paragon overrides for correct styling
@import "~@edx/frontend-enterprise-catalog-search";
@import "@edx/brand/paragon/overrides";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import "./components/course/styles/CourseHeader";
@import "./components/course/styles/CourseReview";
@import "./components/course/styles/CourseSidebar";
@import "./components/course/styles/ProgramSidebar";
@import "./components/course/styles/CourseSkills";
@import "./components/course/styles/CourseRecommendations";
@import "./components/dashboard/main-content/course-enrollments/course-cards/styles/CourseCard";
@import "./components/dashboard/main-content/course-enrollments/styles/CourseSection";
@import "./components/dashboard/sidebar/styles/SidebarCard";
@import "./components/dashboard/styles/SubscriptionExpirationModal";
@import "./components/dashboard/styles/CourseRecommendations";
@import "./components/skills-quiz/styles";
@import "./components/site-header/styles/Header";
@import "./components/preview-expand/styles/PreviewExpand";
@import "./components/pathway/styles";
@import "./components/program-progress/styles";
@import "./components/pathway-progress/styles";
@import "./components/enterprise-user-subsidy/enterprise-offers/styles";
@import "./components/my-career/styles/MyCareer";
@import "./components/my-career/styles/MyCareerChart";
@import "./components/executive-education-2u/styles/ExecutiveEducation2UPage";
@import "./components/executive-education-2u/styles/ExecutiveEducation2UErrorPage";
