.search-results {
  .skeleton-job-card {
    @extend .col-12;
    @extend .col-sm-6;
    @extend .col-md-4;
    @extend .col-lg-3;
    @extend .mb-4;
  }
}
.select-job-results {
  .pgn__form-radio{
    float: right;
  }
  .ais-Hits-list {
    list-style: none;
    padding: 0;
  }
}
