.skils-quiz-dropdown {
  .dropdown-toggle {
    width: 70% !important;
    border-color: #707070;
    justify-content: left;
    font-variant-caps: all-small-caps;
    overflow: hidden;
  }
  .skills-drop-down{
    .dropdown-toggle {
      margin-top: 15px;
    }
  }
}
