.skills-quiz-dropdown {
  .dropdown-toggle {
    width: 55% !important;
    border-color: #707070;
    justify-content: left;
    font-variant-caps: all-small-caps;
    overflow: hidden;
  }
  .skills-drop-down{
    .dropdown-toggle {
      margin-top: 15px;
    }
  }
}

.side-image {
  clip-path: polygon(19% 0, 100% 0, 78% 100%, 0 100%);
  margin-top: 20px;
  height: 585px;
  width: 450px;
  object-fit: cover;
  object-position: right top;
}
