@import "~@edx/paragon/scss/edx/utilities-only";
@import "~@edx/frontend-component-site-header/src/index";

header.site-header-desktop,
header.site-header-mobile {
    background: $white;

    a.logo img {
        max-height: 50px;
    }

    div.container-fluid {
        @extend .container;
    }
}

footer a img {
    max-height: 50px;
}

.text-underline { 
    text-decoration: underline; 
}
