@import "~@edx/paragon/scss/edx/utilities-only";

.facet-list {
  .facet-item-label {
    font-weight: normal;

    &.is-refined {
      font-weight: 700;
    }
  }

  input:focus + .facet-item-label {
    text-decoration: underline;
  }

  .dropdown {
    @extend .mb-3;

    .dropdown-menu {
      @extend .rounded-0;

      max-height: 250px;
      overflow-y: scroll;

      .dropdown-item {
        padding-left: 30px;
      }
    }
  }
}
