@import "~@edx/paragon/scss/edx/utilities-only";

.discovery-card {
  a {
    color: $gray-700;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $gray-700;
      text-decoration: none;

      .card {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.32);
      }
    }
  }

  .card {
    height: 270px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .card-img-top {
    width: 100%;
    height: 100px;
    object-fit: cover;
    background: $gray-100;
    border: none;
  }

  .partner-logo-wrapper {
    padding: 5px;
    position: absolute;
    top: 54px;
    left: 20px;
    background: $white;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0 hsla(0, 0, 66.7%, 0.5);

    .partner-logo {
      width: 90px;
      height: auto;
    }
  }

  .card-title {
    font-weight: 500;
  }

  .card-body {
    .partner {
      font-size: .875rem;
    }
  }

  .card-footer {
    font-size: 0.75rem;
  }
}
