@import "~@edx/paragon/scss/edx/utilities-only";

.search-results {
  .ais-Hits-list {
    @extend .row;
    list-style: none;
    padding: 0;
  }

  .ais-Hits-item {
    @extend .col-12;
    @extend .col-sm-6;
    @extend .col-md-4;
    @extend .col-lg-3;
    @extend .mb-4;
  }
}
