.list-item {
    background-color: silver;
    color: #273F2F;;
    padding-left: 8px;
    border-radius: 4px;
    margin: 5px;
    width: max-content;
    list-style: none;
    display: inline-block;
}

.list-item:hover * {
    color: #273F2F;
}

.item{
    padding-left: 0 !important;
    display: inline-block;
}

.remove {
  margin-left: 1em;
  cursor: pointer;
  padding: 10px 14px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-width: 0;
}

.remove:hover {
    background: #273F2F;
    color: silver;
}
